{%extends "admin/adminLayout.html"%}
{%from "admin/adminMacros.html" import AdminNav %}

{%block nav %}
  {{ AdminNav() }}
{%endblock nav%}

{%block extraCSS%}
<style>

</style>
{%endblock extraCSS%}

{%block content%}
<!--sellerName, sellerEmail, sellerPswd , sellerGender , sellerAddress , sellerCategory , AppStatus , sellerPic , admin.adminName-->
<div class="container">
    <div class="main-body">
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{url_for('static',filename='sellerImages/'+seller[7])}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{seller[0]}}</h4>
                      <h1 class="text-secondary mb-1">Online Seller</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{seller[0]}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{seller[1]}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{seller[3]}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{seller[4]}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Category</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{seller[5]}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Approval Status</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {% if seller[6] == 1 %}
                            Approved
                        {%elif seller[6] == 0 %}
                            Not approved
                        {%endif%}

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{%endblock%}