body {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.card {
    height: 500px
}

.content-left {
    padding: 10px;
    width: 100%;
    height: 500px;
    position: relative
}

.upper-text {
    line-height: 0px
}

.upper-text h1 {
    font-size: 150px;
    font-weight: 600
}

.shop {
    color: #636463;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center
}

.content {
    position: absolute;
    bottom: 50px;
    left: 35px;
    color: #21211f;
    font-size: 14px;
    font-weight: 700
}

.content1 {
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: #21211f;
    font-size: 14px;
    font-weight: 500
}

.image {
    width: 100%;
    height: 500px;
    overflow: hidden
}

@media (max-width:750px) {
    .image {
        position: absolute
    }
}